.content {


    &__col-1 {
        display: flex;
        flex-grow: 2;
        align-items: center;
        justify-content: flex-end;

        @media only screen and (max-width: $bp-medium) {
            justify-content: center;
        }
    }

    &__col-2 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        justify-content: space-evenly;
    }

    &__col-3 {
        display: flex;
        flex-grow: 2;
        align-items: center;

        justify-content: flex-start;

        @media only screen and (max-width: $bp-medium) {
            justify-content: center;
        }
    }
}

.box {
    max-height: 14.5rem;
    max-width: 22rem;
    box-shadow: 0 14px 28px rgba(65, 57, 57, 0), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 0.3rem;

    @media only screen and (max-width: $bp-medium) {
        margin-top: 1.5rem;
    }

    &-title {
        color: var(--color-dark-blue);
        font-weight: 600;
        font-size: 1.32rem;
    }

    &-description {
        color: var(--color-grayish-blue);
        font-size: 0.85rem;
        font-weight: 400;
        margin-top: 0.5rem;
    }

    &-icon {
        position: relative;
        align-self: flex-end;
        top: 1rem;
        right: 0.5rem;
    }

    &-red {
        border-top: 0.2rem solid var(--color-red);
    }

    &-cyan {
        border-top: 0.2rem solid var(--color-cyan);

        @media only screen and (max-width: $bp-medium) {
            margin-top: 3rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            margin-top: 5rem;
        }
    }

    &-orange {
        border-top: 0.2rem solid var(--color-orange);
    }

    &-blue {
        border-top: 0.2rem solid var(--color-blue);

        @media only screen and (max-width: $bp-medium) {
            margin-bottom: 3rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            margin-bottom: 4rem;
        }
    }

    &:hover {
        box-shadow: 4px 8px 12px 0 rgba(0, 0, 0, 0.3);
        transform: translateY(-0.4rem);
        transition: all 0.3s;
    }
}

.header {
    &__title {
        font-size: 2rem;
        color: var(--color-dark-blue);
        letter-spacing: 0.8px;

        @media only screen and (max-width: $bp-smallest) {
            font-size: 1.6rem;
        }

        &-pre {
            font-weight: 200;
            text-align: center;
        }

        &-post {
            font-weight: 600;
            text-align: center;
        }
    }

    &__caption {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        color: var(--color-grayish-blue);
        font-size: 0.9rem;

        p {
            text-align: center;
            width: 75%;

            @media only screen and (min-width: $bp-medium) {
                width: 40%;
            }
        }
    }
}

.attribution {
    font-size: 11px;
}

.attribution a {
    text-decoration: none;
    color: hsl(228, 45%, 44%);
}