.main {
    display: flex;
    flex-direction: column;
}

.header {
    height: 23vh;

    &__spacer {
        height: 3rem;
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.content {
    display: flex;
    height: 70vh;
    margin-top: 2.2rem;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }
}

.box {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.footer {
    height: 1vh;
    display: flex;
    justify-content: center;

    @media only screen and (max-width: $bp-medium) {
        margin-top: auto;
    }
}