.main {
    display: flex;
    flex-direction: column;
}

.header {
    height: 11rem;

    &__spacer {
        height: 3rem;
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.content {
    display: flex;
    height: 33rem;
    margin-top: 2.2rem;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }
}

.box {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.footer {
    height: 4rem;
    display: flex;
    justify-content: center;
    border: 1px solid blue;

    @media only screen and (max-width: $bp-medium) {}
}